.task-box {
  text-align: left;
}

.flex-center {
  flex-direction: column;
  display: flex;
  align-items: center;
}

.task-box p a {
  text-decoration: none;
}

.task-box p a:hover {
  text-decoration: underline;
}

svg {
  margin-right: 5px;
}

.tags {
  display: flex;
  flex-direction: row;
}

form .inline {
  display: inline-flex;
  flex-wrap: wrap;
  margin-bottom: 0;
}

.inline div {
  margin-right: 1.5rem;
}

select {
  margin-bottom: 1rem;
  font-size: initial;
}
