.task__list-item {
  margin: 1rem 0;
  padding: 1rem;
  border: 1px solid black;
  white-space: pre;
}

.left {
  width: 330px;
}

.title {
  text-decoration: none;
  color: black;
}

.title:hover {
  color: gray;
}
