.task__list-item {
  margin: 1rem 0;
  padding: 1rem;
  border: 1px solid black;
  white-space: pre;
  min-width: min-content;
}

.task-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.left {
  width: 330px;
  min-width: max-content;
}

.title {
  text-decoration: none;
  color: black;
}

.title:hover {
  color: gray;
}
