.home {
  text-align: center;
  margin: -3.5rem -1rem;
}

.home-logo {
  height: 40vmin;
}

.home-header {
  background-color: #A00;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.home-link {
  color: #09d3ac;
}

.home button {
  font-size: calc(2vmin);
  margin: 2rem;
}

.form-check label {
  cursor: pointer;
}
