.tasks-control {
  text-align: center;
  margin: -1rem auto;
  width: 90%;
  max-width: 90%;
}

.flex-container {
  display: flex;
  justify-content: space-between;
}

.tasks__list {
  width: 90%;
  max-width: 90%;
  margin: auto;
  list-style: none;
  padding: 0;
}

.tasks__list-item {
  margin: 1rem 0;
  padding: 1rem;
  border: 1px solid black;
  white-space: pre;
}
