.about-content {
  margin-left: auto;
  margin-right: auto;
  max-width: 1000px;
}

.about p {
  white-space: pre-wrap;
}

.about img {
  float: left;
  margin: 0 5rem;
  height: 150px;
}

.about-text {
  float: left;
  width: max-content;
}

.about-row:after {
  content: "";
  display: table;
  clear: both;
}

* {
  box-sizing: border-box;
}
